<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>THB</title>
  <meta name="description" content="The Hard Bank">
  <meta name="author" content="The Hard Bank">

  <meta property="og:title" content="The Hard Bank">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.thehardbank.com">
  <meta property="og:description" content="A Strategic Merchandise Reserve">
  <meta property="og:image" content="./THB_origin.jpg">

  <meta name = "twitter:card" content = "summary_large_image" />
  <meta name = "twitter:site" content = "@naknation"/>
  <meta name = "twitter:creator" content = "@naknation"/>
  <meta name = "twitter:title" content = "The Hard Bank"/>
  <meta name = "twitter:description" content = "A Strategic Merchandise Reserve" />
  <meta name = "twitter:image" content = "https://www.thehardbank.com/THB_origin.jpg"/>

  <!--
  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/styles.css?v=1.0">-->

</head>

<body>
  <h1>The Hard Bank</h1>
  <h2>A Strategic Merchandise Reserve</h2>


  <form action="validate_user" method="post">

	  <div class="container">
		  <input type="text" placeholder="identity" name="identity" required>
		  <input type="password" placeholder="key" name="key" required>
		  <button type="submit">Validate</button>
	  </div>

  </form>

</body>

</body>
</html>
