		<nav class="navbar">
		    <div class="navbar-brand">
		      <a href="/manage/inventory">The Hard Bank</a>
		    </div>
		    <div class="navbar-links" id="navbarLinks">
		      <ul>
			<li><a href="/manage/inventory/add">Add</a></li>
			<li><a href="/manage/logout">Logout</a></li>
		      </ul>
		    </div>
		    <div class="navbar-menu-icon" id="navbarMenuIcon">
		      <div class="bar"></div>
		      <div class="bar"></div>
		      <div class="bar"></div>
		    </div>
		  </nav>		
